{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Brainy Streets">
  <meta name="author" content="Wizdem">
  <title>{% block title %}{% endblock %}</title>
  <!-- Favicon -->
  <link href="{% static 'img/brand/favicon.png'%}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'vendor/nucleo/css/nucleo.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="{% static 'css/argon.css'%}" rel="stylesheet">
  {% block top %}{% endblock %}
</head>

<body>
  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent headroom">
      <div class="container">
        <a class="navbar-brand mr-lg-5" href="{% url 'home' %}"><img src="{% static 'img/logo-transparent.png'%}" style="height: 7vh, max-width: 25vh"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="{% url 'home' %}">
                  <img src="{% static 'img/logo.png'%}">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item">
              <a href="{% url 'data-desc' %}" class="nav-link" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Data</span>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item d-none d-lg-block ml-lg-4">
              <a href="{% url 'harp' %}" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fa fa-building"></i>
                </span>
                <span class="nav-link-inner--text">Harp</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {% block body %}
    {% endblock %}
  </main>
  <footer class="footer pt-1 pb-1">
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2019 <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- Core -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/popper/popper.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.min.js'%}"></script>
  <script src="{% static 'vendor/headroom/headroom.min.js'%}"></script>
  <!-- Argon JS -->
  <script src="{% static 'js/argon.js'%}"></script>
  </script>
  {% block endjs %}{% endblock %}
</body>
</html>