{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block top %}
<!-- Harp -->
<script src="https://unpkg.com/three/build/three.min.js"></script>
<script src="https://unpkg.com/@here/harp.gl/dist/harp.js"></script>
<script src="{% static 'js/extras.js' %}"></script>
<!-- HereMaps -->
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
type="text/javascript" charset="utf-8"></script>
</script>
{% endblock %}

{% block body %}
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-150">
            <div class="shape shape-style-3 shape-dark">
                <span style="min-width:40px; min-height: 40px"></span>
                <span style="min-width:40px; min-height: 40px"></span>
                <span style="min-width:40px; min-height: 40px"></span>
                <span style="min-width:40px; min-height: 40px"></span>
                <span style="min-width:40px; min-height: 40px"></span>
            </div>

            <div class="container py-lg-lg d-flex pt-5">
            <div class="col px-0">
                <div class="row">
                <div class="col-lg-6 col-md-8">
                    <h1 class="display-3 text-white">Dashboard</h1>
                    <div class="btn-wrapper">
                        <button class="btn btn-info btn-icon mb-3 mb-sm-0" onclick="barricadeMode()">
                            <span class="btn-inner--icon"><i class="fa fa-exclamation-triangle"></i></span>
                            <span class="btn-inner--text">Barricade</span>
                        </button>
                        <button class="btn btn-danger btn-icon mb-3 mb-sm-0" onclick="ambulanceMode()">
                            <span class="btn-inner--icon"><i class="fa fa-ambulance"></i></span>
                            <span class="btn-inner--text">Emergency Vehicle</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
    </div>
    <div>
        <section class="section section-lg pb-2 pt-3">
            {% for message in messages %}
                <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            <div style="padding-left: 5vw">
                <h1>Your Location</h1>
                <p id="userlocation">Loading your location</p>
            </div>
        </section>
        <section class="section section-lg pt-0 pb-0">
            <div class="flex-column flex-md-row">
                <button type="button" onclick="daynightclicked('day')" class="btn" style="color: #e3e3e3">Day</button>
                <button type="button" onclick="daynightclicked('night')" class="btn" style="color: #32325d">Night</button>
            </div>
        </section>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
            </div>
            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-8" id="mapdiv" style="min-height: 80vh; min-width: 50vw">
                        <canvas id="map" style="position: absolute; width: 100%; height: auto;">
                    </div>
                    <div class="col-xs-12 col-lg-4 pl-5">
                        <div id="selectedmodetext" class="pb-2" style="font-size:larger; font-weight: bolder;">
                            No Mode selected
                        </div>
                        <div id="selectedpointtext" class="pb-2" style="font-size:larger; color: #0099ff">
                            No Point selected
                        </div>
                        <div id="ambulanceSection">
                            <form method="POST" action="{% url 'create-ambulance' %}">
                                {% csrf_token %}
                                <div class="pb-2">
                                <label for="location">Emergency Vehicle Location:</label>
                                <input class="form-control" name="location" onfocus="console.log('location');inputInto='location'">
                                <label for="destination">Emergency Vehicle Destination:</label>
                                <input class="form-control" name="destination" onfocus="console.log('destination');inputInto='destination'">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                        <div id="barricadeSection">
                            <form method="POST" action="{% url 'barricade-road' %}">
                                {% csrf_token %}
                                <div class="pb-2">
                                <label for="location">Road to barricade/open:</label>
                                <input class="form-control" name="roadLocation" onfocus="console.log('roadLocation');inputInto='roadLocation'">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block endjs %}
  <!-- HereMaps -->
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  type="text/javascript" charset="utf-8"></script>
  <!-- Custom js -->
  <script type="text/javascript">
    var get_data = false;
  </script>
  <script src="{% static 'js/dash.js' %}"></script>
{% endblock %}