{% extends 'base.html' %}
{% load static %}

{% block title %}brainy streets data{% endblock %}

{% block top %}

{% endblock %}

{% block body %}
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-150 bg-gradient-warning">
            <div class="shape shape-style-2 shape-default">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
            </div>
            <div class="container py-lg-lg d-flex pt-5">
            <div class="col px-0">
                <div class="row">
                <div class="col-lg-6 col-md-8">
                    <h1 class="display-3  text-white"><span>Brainy Streets presents</span>Our Smart Road System</h1>
                    <p class="lead  text-white">We provide air quality, sunlight density and vehicle density data. It comes with roadmaps to display our network with beautiful 3D maps and graphs.</p>
                </div>
                </div>
            </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block endjs %}
{% endblock %}