{% extends 'base.html' %}
{% load static %}

{% block title %}Harp{% endblock %}

{% block top %}
<!-- Harp -->
<script src="https://unpkg.com/three/build/three.min.js"></script>
<script src="https://unpkg.com/@here/harp.gl/dist/harp.js"></script>
<script src="{% static 'js/extras.js' %}"></script>
<!-- HereMaps -->
<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
type="text/javascript" charset="utf-8"></script>
<script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
type="text/javascript" charset="utf-8"></script>
</script>
{% endblock %}

{% block body %}
    <section class="section section-md section-shaped pb-50">
        <div class="shape shape-style-3 shape-default">
        </div>
    </section>
    <section class="section section-lg pb-2 pt-3">
        <div style="padding-left: 5vw">
            <h1>Your Location</h1>
            <p id="userlocation">Loading your location</p>
        </div>
    </section>
    <section class="section section-lg pt-0 pb-0">
            <div class="flex-column flex-md-row">
                <button type="button" onclick="daynightclicked('day')" class="btn" style="color: #e3e3e3">Day</button>
                <button type="button" onclick="daynightclicked('night')" class="btn" style="color: #32325d">Night</button>
            </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
            </div>
            <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-8" id="mapdiv" style="min-height: 80vh; min-width: 50vw">
                        <canvas id="map" style="position: absolute; width: 100%; height: auto;">
                    </div>
                    <div class="col-xs-12 col-lg-4 pl-5">
                        <div id="selectedpointtext" class="pb-2" style="font-size:larger; color: #0099ff">
                            No Point selected
                        </div>
                        <div id="AQIchartContainer" style="height: 200px; width: 80%;"></div>
                        <div id="LDRchartContainer" style="height: 200px; width: 80%;"></div>
                        <div id="TrafficchartContainer" style="height: 200px; width: 80%;"></div>
                        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block endjs %}
  <!-- HereMaps -->
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  type="text/javascript" charset="utf-8"></script>
  <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  type="text/javascript" charset="utf-8"></script>
  <!-- Custom js -->
  <script src="{% static 'js/harp.js' %}"></script>
{% endblock %}